bin/grapes_sv/* linguist-vendored
*.pm linguist-language=Perl
bin/TargetDepth* linguist-vendored
bin/offtarget/* linguist-vendored
bin/megadepth/** linguist-vendored
bin/htslib/** linguist-vendored
bin/SeqLib/** linguist-vendored

*.pl linguist-detectable
*.pm linguist-detectable
*.cpp linguist-detectable
